<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Czettner\Routerlogger\Controller\Log\Log">
        <arguments>
            <argument name="routerList" xsi:type="object">Magento\Framework\App\RouterList</argument>
        </arguments>
    </type>
</config>
